// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

.fab-button {
	height: 50;
	width: 50; /// this is required on iOS - Android does not require width so you might need to adjust styles
	margin: 13;
	background-color: #ff4081;
	horizontal-align: right;
	vertical-align: bottom;
}
.password {
	border-width: 1;
}
